@use 'tailwindcss';

@use 'flowbite/src/themes/default';

/* import Flowbite Vue styles */
@import 'flowbite-vue/index.css';

/* Flowbite plugin is configured in tailwind.config.js */

/* add Flowbite Vue directory using @source directive */
@source "../node_modules/flowbite-vue";

@layer base {
  body {
    @apply bg-white text-gray-800;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  h4 {
    @apply text-xl font-medium;
  }
  h5 {
    @apply text-lg font-medium;
  }
  h6 {
    @apply text-base font-medium;
  }
  p {
    @apply text-base;
  }
}

@layer components {
  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}
