@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #app {
    @apply max-w-[1280px] mx-auto p-8 font-normal;
  }

  a, .green {
    @apply no-underline text-[hsl(160,100%,37%)] transition-all duration-400 p-[3px];
  }

  @media (hover: hover) {
    a:hover {
      @apply bg-[hsla(160,100%,37%,0.2)];
    }
  }

  @media (min-width: 1024px) {
    body {
      @apply flex items-center;
    }

    #app {
      @apply grid grid-cols-2 px-8 py-0;
    }
  }
}
