@use 'tailwindcss';

@use 'flowbite/src/themes/default';

/* import Flowbite Vue styles */
@import 'flowbite-vue/index.css';

/* Flowbite plugin is configured in tailwind.config.js */

/* add Flowbite Vue directory using @source directive */
@source "../node_modules/flowbite-vue";

@layer components {
  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
  }

  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}
